body {
	background: #eeeeee;
	font-family: tahoma, verdana, sans serif;
}

canvas {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}


.fa { font-family: 'FontAwesome' !important; }

#controls{
  margin-left: 1rem;
  margin-right: 1rem;
}

.dropDown{
  width: 8rem;
}

section{
  margin-bottom: 1rem;
}

#playButton,#fsButton, #muteButton{
  font-size: 1.2rem;
  width: 8rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}
